h2,
h1,
.evaluacion-respuesta {
  color: #343434;
}

.evaluacion-titulo {
  font-size: 1.375rem;
}

.evaluacion-respuesta {
  font-size: 1.25rem;
  font-weight: 400;
}

.evaluacion-question-progress-number {
  font-size: 1.25rem;
}

.evaluacion-question-progress-number span {
  font-weight: 600;
  color: #4a98ff;
}

.evaluacion-enunciado {
  font-size: 1.5rem;
}

.evaluacion-progress-bar {
  width: 240px;
  border-radius: 20px;
  height: 11px;
}

ion-progress-bar {
  --background: #eeeeee;
  --progress-background: #4a98ff;
}

// LAYOUT

.search-component {
  margin-bottom: 0;
}

.search-component::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 80%;
  background-color: #e2e2e2;
  transform: translate(-50%);
  bottom: 3em;
}

.search-bar__solo-numeros {
  margin-top: 0.5em;
}

// Inputs si no esta registrado

.search-bar--registro-container {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.search-bar--registro label {
  margin-bottom: 0.5em;
  margin-left: 0.4em;
}

.search-bar--registro input {
  margin-bottom: 1.5em;
  width: 100%;
}

.search-button-container--registro {
  width: 100%;
  position: initial;
}

.search-button-container--registro input {
  width: 100%;
  border-radius: 4px;
}

// Condiciones preexistentes y multiple choice

ion-slide {
  display: block;
  width: fit-content;
}

.container-preguntas-registro {
  position: relative;
  padding: 1.5em 0 2em 0;
  min-height: 100vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.evaluacion-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evaluacion-titulo {
  text-align: center;
  margin-bottom: 0.4em;
}

.evaluacion-progress-bar {
  margin-bottom: 0.4em;
}

.evaluacion-question-progress-number {
  text-align: center;
}

.evaluacion-encuesta {
  width: 260px;
  max-width: 350px;
  margin: 3em auto 0 auto;
}

.evaluacion-enunciado {
  margin-bottom: 1em;
}

.evaluacion-respuesta-checkbox {
  margin-bottom: 1em;
  display: flex;
  width: fit-content;
}

.evaluacion-checkbox {
  margin-right: 0.8em;
}
.fontSizeGrande {
  font-size: 28px;
}

ion-checkbox {
  --border-radius: 3px;
  --border-color: #e2e2e2;
  --border-width: 2px;
  --checkmark-width: 2px;
  --transition: 0.3s;
  --size: 26px;
}
.swiper-slide {
  text-align: left;
}

ion-sliders {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.evaluacion-footer {
  position: relative;
}

.swiper-slide:not(.swiper-slide-active) > div {
  display: none;
}

.next-btn {
  position: fixed;
  bottom: 5.5em;
  right: 3.5em;
}

ion-icon {
  font-size: 40px;
}

.evaluacion-back-arrow {
  position: absolute;
  top: 1.8em;
  left: 1.5em;
  height: 20px;
  cursor: pointer;
}
.evaluacion-respuesta-checkbox {
  margin-bottom: 1em;
  display: flex;
  width: fit-content;
}

.evaluacion-respuesta-checkbox-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
